body {
  font-family: Arial, sans-serif;
  background-color: #36393F; /* Discord background color */
  margin: 0;
  padding: 0;
  color: #DCDDDE; /* Discord text color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #fff; /* White text color */
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #72767D; /* Discord input border color */
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px; /* Increased margin */
  background-color: #40444B; /* Discord input background color */
  color: #DCDDDE; /* Discord text color */
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: #7289DA; /* Discord input border color on hover/focus */
}

button {
  background-color: #7289DA; /* Discord button background color */
  color: #fff; /* White text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Increased margin */
}

button:hover {
  background-color: #677BC4; /* Darker button background color on hover */
}

.console {
  margin-top: 20px;
  padding: 10px;
  background-color: #40444B; /* Discord console background color */
  border: 1px solid #72767D; /* Discord console border color */
  border-radius: 4px;
  overflow: auto;
  max-height: 200px;
  color: #DCDDDE; /* Discord text color */
}

.console p {
  margin: 0;
  font-size: 14px;
}

.console.success {
  border-color: #43B581; /* Discord success border color */
}

.console.error {
  border-color: #F04747; /* Discord error border color */
}

.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #36393F; /* Discord background color */
  color: #DCDDDE; /* Discord text color */
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 999;
  font-size: 16px;
}
